.email-back {
    background-color: white;
}

.email-header {
    background-color: #333f48;
    color: white;
}

.email-main {
    background-color: #d6d2c4;
}

.btn-utcolor {
    background-color: #bf5700;
    color: white;
}