env
__pycache__
utreview/index/_MAIN_1.toc
utreview/index/MAIN_8wbjvlhkx54mvyn7.seg
utreview/index/MAIN_wber9zckca9y0eg1.seg
utreview/index/_MAIN_1.toc
utreview/index/MAIN_8wbjvlhkx54mvyn7.seg
utreview/index/_MAIN_1.toc
utreview/index/MAIN_8wbjvlhkx54mvyn7.seg
utreview/index/MAIN_qgq4iucjw47vq1qj.seg
utreview/index/_MAIN_1.toc
*.seg
*.toc
utreview/course_index/MAIN_WRITELOCK
utreview/prof_index/MAIN_WRITELOCK
utreview/credentials.yaml
utreview/.env
mysql_practice/cloud.py
mysql_practice/cloud_sql_proxy.exe
mysql_practice/mysql_practice.py
*.ctmp
*.pst
*.trm
.env
cloud_sql_proxy.exe
*.cfg
*.xlsx
input_data
*.db
