env
utflow/course_index
utflow/prof_index
__pycache__
utflow/index/_MAIN_1.toc
utflow/index/MAIN_8wbjvlhkx54mvyn7.seg
utflow/index/MAIN_wber9zckca9y0eg1.seg
utflow/index/_MAIN_1.toc
utflow/index/MAIN_8wbjvlhkx54mvyn7.seg
utflow/index/_MAIN_1.toc
utflow/index/MAIN_8wbjvlhkx54mvyn7.seg
utflow/index/MAIN_qgq4iucjw47vq1qj.seg
utflow/index/_MAIN_1.toc
*.seg
utflow/course_index/_MAIN_1.toc
utflow/prof_index/_MAIN_1.toc
utflow/prof_index/MAIN_lifb8ia2happzv5k.seg
utflow/course_index/MAIN_osmb094rld44i3w2.seg
utflow/prof_index/MAIN_lifb8ia2happzv5k.seg
utflow/prof_index/_MAIN_1.toc
utflow/course_index/_MAIN_1.toc
utflow/course_index/MAIN_osmb094rld44i3w2.seg
