{% extends 'base.html' %}
{% block content%}

<div className="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset className="form-group">
            <legend className="border-bottom mb-4">
                Log in
            </legend>

            <div className="form-group">
                {{ form.email.label(className="form-control-label") }}
                {% if form.email.errors %}

                {{ form.email(className="form-control form-control-lg is-invalid") }}
                <div className="invalid-feedback">
                    {% for error in form.email.errors %}

                    <span>{{ error }}</span>
                    {% endfor %}

                </div>
                {% else %}
                {{ form.email(className="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div className="form-group">
                {{ form.password.label(className="form-control-label") }}
                {% if form.password.errors %}

                {{ form.password(className="form-control form-control-lg is-invalid") }}
                <div className="invalid-feedback">
                    {% for error in form.password.errors %}

                    <span>{{ error }}</span>
                    {% endfor %}

                </div>
                {% else %}
                {{ form.password(className="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div className="form-check">
                {{ form.remember(className="form-check-input") }}
                {{ form.remember.label(className="form-check-label") }}
            </div>
            <small className="test-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </fieldset>

        {{ form.submit(className="btn btn-outline-info") }}
</div>
</form>

<div className="border-top pt-3">
    <small className="text-muted">
        Need an account? <a className="ml-2" href="{{ url_for('register') }}">Sign Up</a>
    </small>
</div>

</div>

{% endblock content %}