<head>
	<!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<!--[if !mso]><!-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<![endif]-->
	<title></title>
</head>

<body>
	<div>
		<strong>Bugged Page: </strong>{{page}}
		<br />
		<strong>Type of Bug: </strong>{{bug_type}}
		<br />
		<strong>Bug Description: </strong>{{description}}
	</div>
</body>