<head>
	<!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<!--[if !mso]><!-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<![endif]-->
	<title></title>
</head>

<body>
	<div>
        <h1>Report Information</h1>
        <strong>Options Selected: </strong>{{options_selected}}
		<br />
		<strong>Other Option: </strong>{{other_option}}
    </div>
    <div>
        <h1>Review Information</h1>
        <strong>Review ID: </strong>{{review_id}}
		<br />
        <strong>Course/Professor: </strong>{{review_topic}}
        <br />
        <strong>Review Author Email: </strong>{{author_email}}
		<br />
        <strong>Course/Professor Name: </strong>{{review_topic_name}}
        <br />
        <strong>Review Comments: </strong>{{review_comments}}
		<br />
    </div>
</body>